.title{
	font-size:25px;
	text-align:center;
}
.comment-header{
	word-spacing: 30px;
	font-size:15px;
	margin-left: 10px;
}
.comment-filling{
	margin-left: 10px;
	font-size:15px;
	word-wrap: break-word;
	width:85%;
	background-color:#F5F5F5;
	border-style: solid;
    border-width: 1px;
    border-color:#6599cd;
    color:	#282828 ;
}
.comment{
	margin-left: 10px;
	padding-bottom:20px;
}
.add-comment,form-control{
	vertical-align: top;
	margin-left: 10px;
	width:85%;
}
.btn-add-comment{
	margin-left: 10px;
	padding-top:10px;
}
textarea[readonly].form-control{
	background-color:#F5F5F5;
	height:auto;
	
}
p{
	line-height:2.2;
}