.user-table {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid rgb(200, 200, 200);
	border-collapse: collapse;
}


.btn-table{width: 15%;}

.inputfield input[type="text"] {
	height: 15px
}


span.glyphicon-envelope {
	font-size: 1.2em;
}

.scrollable-menu {
	height: 80px;
	max-height: 200px;
	overflow-x: hidden;
}

.button-as-link {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	/*border is optional*/
	border-bottom: 1px solid #444;
	cursor: pointer;
}

.movie {
	text-align: center;
}

textarea {
	
}

.movieName {
	color: 	limegreen;
	font-weight: bold;
	font-size:25px;
}
.comment{
	margin-bottom:15px;
}

.genreSelectList{
	
}

.movieImage{
	max-height:200px;
	max-width:250px;
	margin-right:200px;
}
.movieDetails{
	display: inline-block;
	margin-bottom:30px;
}
